---
layout: photography
title: Za snímkem snímek
---
<style>
  .collapsible-list li>* {
    display: block;
  }

  @media screen and (min-width: 768px) {
    .collapsible-list {
      margin: 1rem 0;
    }
    .collapsible-list li {
      display: flex;
    }

    .collapsible-list li>* {
      flex: 1 1 ;
    }

    .collapsible-list li> :first-child {
      flex: 0 0 25%;
      text-align: right;
      margin-right: 0.5rem;
    }
  }
</style>

<h2>Fotografická témata</h2>
<ul class="collapsible-list">
  <li>
    <a href="Expozice/MistoDeje/Index.html">Místo děje</a>
    <div>pouliční příběhy z devadesátých let</div>
  </li>
  <li>
    <a href="Nesmrtelni/Index.html">Nesmrtelní:smrtelní<br>Sterbliche:Unsterbliche</a>
    <div>hroby českých, německých a židovských osobností na území bývalé &bdquo;Bohemie&ldquo; <br />kolem přelomu
      tisíciletí</div>
  </li>
  <li>
    <a href="Konference/Index.html">Konference</a>
    scény a portréty z kolokvií, sympozií, disputací, konferencí z počátku třetího tisíciletí
  </li>
  <li>
    <a href="Fotoesej/Index.html">Fotoeseje</a>
    dlouhodobě sbírané události
  </li>
  <li>
    <a href="Portret/Index.html">Portréty</a>
    obrazy tváří z minulého i nového věku
  </li>
  <li>
    <a href="Ilustrace/Index.html">Ilustrace</a>
    fotografie v duchu literárních děl
  </li>
  <li>
    <a href="Fantom/Index.html">Fantom</a>
    cyklus světelných příběhů
  </li>
  <li>
    <a href="Triptych/Index.html">Triptychy</a>
    ilustrace ilustrací
  </li>
</ul>

<h2>Výstavy</h2>
{% include 'exhibitions.njk' %}


<h2>Publikace</h2>

<table>


  <dt><a href="Nesmrtelni/Kniha/Index.html">Nesmrtelní:smrtelní Sterbliche:Unsterbliche</a></dt>
  <dd>(obrazová kniha) Steffen Höhne + VěK <br /> Nakladatelství Franze Kafky, Praha 2001 (88) <br /> distribuce <a
      href="http://www.oikoymenh.cz/product_info.php?products_id=141">oikoymenh</a></dd>



  <dt><a href="Expozice/MistoDeje/Index.html">Místo děje</a></dt>
  <dd>ukázky v časopise Host 7/2003 (16)</dd>



  <dt><a href="Nesmrtelni/Vystava/Index.html">Nesmrtelní:smrtelní</a></dt>
  <dd>(výstava) ukázky v Revolver Revue 55/2004 (14)</dd>



  <dt><a href="Konference/Hejdankiada/Index.html">Událost a nepředmětnost</a></dt>
  <dd>(disputace k filosofii Ladislava Hejdánka) <br /> ukázky v Reflexi 28/2005 (8)</dd>



  <dt><a href="Konference/Chvatikiada/Index.html">Nekonečnost konečnosti</a></dt>
  <dd>(disputace k filosofii Ivana Chvatíka 2005) <br /> ukázky na adrese <a
      href="http://web.etf.cuni.cz/ETFKF-8.html">Evangelické teologické fakulty</a> (8)</dd>



  <dt><a href="Konference/Budejovice/Index.html">Hledání literárních dějin v&nbsp;diskusi</a></dt>
  <dd>(konference) ukázky ve Scholares, Paseka 2006 (8)</dd>



  <dt><a href="Ilustrace/Weil/Index.html">Návrh ilustrací k povídkám Jiřího Weila</a></dt>
  <dd>(ilustrace) ukázky v Revolver Revue 65/2006 (7)</dd>



  <dt><a href="Publikace/Zustavam/Index.html">&bdquo;ich bleibe. ihr geht&ldquo;</a></dt>
  <dd>(fotoesej) Transit 33, Vídeň 2007 (9)</dd>



  <dt><a href="Publikace/VidinyPameti/Index.html">GedächtnisGesichte</a></dt>
  <dd>(fotoesej) Transit 35, Vídeň 2008 (9)</dd>




  <dt><a href="Konference/Osmdesatiny/Index.html">Osmdesátiny</a></dt>
  <dd>(kolokvium k jubileu Ladislava Hejdánka a Jakuba Trojana 2007) <br /> ukázky na adrese <a
      href="http://web.etf.cuni.cz/ETFKF-8.html">Evangelické teologické fakulty</a> (9)</dd>



  <dt><a href="Konference/Sofistes/Index.html">O nejvyšších rodech</a></dt>

  <dd>(disputace o Platónově dialogu Sofistés 2009) <br /> ukázky na adrese <a
      href="http://web.etf.cuni.cz/ETFKF-8.html">Evangelické teologické fakulty</a> (16)</dd>



  <dt><a href="Publikace/MasakAPartner/Index.html">Masák a partner</a></dt>
  <dd>Fotografická prezentace architektonického ateliéru <br /> Viz webovou stránku <a
      href="http://www.masak-partner.com/">Masák a partner</a> </dd>


  <!--

    <dt><a href="Ilustrace/PsiVino/Index.html">Psí víno</a></dt>
    <dd> (Ilustrace k novele Anny Blažíčkové) <br />  Práce, Praha 1992 (2) <br /></a></dd>


  -->

  <dt><a href="Ilustrace/PsiVino/Index.html">Psí víno</a></dt>
  <dd> (Ilustrace k novele Anny Blažíčkové) <br /> Triáda, Praha 2010 (10) <br /></a></dd>




  <dt><a href="Ilustrace/Kafka/Index.html">Kafka</a></dt>
  <dd> (Ilustrace k eseji Jürga Amanna) <br /> Archa, Zlín 2011 (14) <br /></a></dd>



  <dt> Filosofie Lidského, příliš lidského
  <dd> (Ilustrace k souboru filosofických esejů a záběry z kolokvia ke vzniku knihy) <br /> Pavel Mervart, Červený
    Kostelec 2011 (14) <br /></a></dd>




  <dt><a href="Ilustrace/CekaniVZastupu/Index.html">Čekání v zástupu</a></dt>
  <dd> (Ilustrace ke sbírce povídek Anny Blažíčkové) <br /> Triáda, Praha 2014 (9) <br /></a></dd>




  <dt><a href="Ilustrace/DuseZrcadlo/Index.html">Duše zrcadlo</a></dt>
  <dd> (Ilustrace ke knize studií Lenky Karfíkové ke Kappadočanům, Augustinovi a Abélardovi) <br /> Triáda, Praha 2016
    (10) <br /></a></dd>




  <dt><a href="Ilustrace/Maminky/Index.html">Trochu jiné mámy</a></dt>
  <dd> (Portréty k rozhovorům Petry Maťové s mladými ženami, jež jejich zdravotní postižení neodradilo od mateřství)
    <br /> knižně v nakladatelství Host, Brno cca 2017 (8) <br /></a></dd>




  <dt><a href="Publikace/Obalky/Index.html">Knižní obálky</a></dt>
  <dd>soubor fotografií VěK použitých na obálky knih</dd>



</table>