---
layout: gallery-index
title: Konference
img:
  src: index.jpeg
---
<div class="md:self-end md:ml-4 md:mb-6">
  <svg aria-hidden="true" width="71" height="65" viewbox="0 0 100 100" class="text-red-800">
    <circle cx="50" cy="50" r="50" class="fill-current" />
  </svg>

  <nav class="vr-snug-2xl font-bold tracking-tight">
  <ul>
    <li>{{ konference | galleryLink('dissimilarities') }}</li>
  </ul>
  </nav>
</div>