@charset 'utf-8';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* @apply vr-debug; */
}

nav a {
  @apply text-red-800;
  @apply no-underline;
}

nav a:hover {
  @apply text-black;
}

h1 {
  @apply vr-none-3xl;
}

h2 {
  @apply mt-6;
  @apply font-bold;
  @apply vr-relaxed-lg;
}

a {
  @apply text-red-800;
  @apply underline;
}

a:active,
a:hover {
  @apply text-gray-700;
}

a:visited {
  @apply text-black;
}

.applied p {
  @apply vr-loose-base;
}

.applied dl {
  @apply vr-relaxed-base;
}

.applied dt {
  @apply font-bold;
  @apply inline;
}

.applied li {
  @apply mt-2;
  @apply vr-relaxed-base;
}

.applied p:not(:first-of-type) {
  @apply mt-4;
}
