@charset 'utf-8';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './css/scroll-enticer.css';
@import './css/sidebar.css';

body {
  /* @apply vr-debug; */
  font-synthesis: none;
}

.font-body {
  @apply font-light;
}

.para {
  @apply vr-base;
  @apply font-body;
}

b, strong {
  @apply font-medium;
}

.pipe-separator:not(:first-child)::before {
  content: '|';
}

.turbolinks-progress-bar {
  @apply h-1;
  @apply bg-red-800;
}

.flex-basis-1\/2 { flex-basis: 50%; }

@screen sm {
  .sm\:flex-basis-1\/2 { flex-basis: 50%; }
}

@screen sm {
  .para, .applied p {
    hyphens: auto;
  }
}

a {
  @apply underline;
}

a:link {
  @apply text-red-800;
}

a:active {
  @apply text-gray-900;
}

a:hover {
  @apply text-gray-700;
}

nav a, nav a:visited {
  @apply text-red-800;
}

nav a:hover {
  @apply text-gray-700;
}

.applied h2 {
  @apply font-bold;
  @apply vr-lg;
}

.applied p {
  @apply para;
}

.applied li {
  @apply mt-2;
  @apply vr-base;
  @apply font-body;
}

.applied p:not(:first-of-type) {
  @apply mt-4;
}
