---
layout: layouts/gallery-page
pagination:
  data: konference
  size: 1
  alias: gallery
permalink: "cz/konference/{{ gallery | slug }}/index.html"
eleventyComputed:
  title: "{{ konference[gallery] | lang }}"
---

{% set gallery = konference[gallery] %}
{% include 'gallery.njk' %}