---
layout: default
---
<div class="mx-2 md:ml-56 lg:ml-64 xl:mx-auto max-w-2xl my-4">
  <header class="mb-6">
    {% include 'nav.njk' %}
    <h1>{{ title }}</h1>
  </header>

  <main class="{{ 'has-sidebar' if hasSidebar }} ">
    {{ content | safe }}
  </main>
</div>