---
layout: default
---
<div class="mx-2 lg:mx-auto lg:grid col-gap-4 row-gap-2 grid-cols-main max-w-6xl my-4">
  <div class="col-main mb-4">
    {% include 'nav.njk' %}
    <h1>{{ title }}</h1>
  </div>

  {% if img %}
  <div class="vr-loose-base place">
    {% from 'macros.njk' import image %}
    {{ image(img) }}
  </div>
  {% endif %}

  {{ content | safe }}
</div>