{% from 'macros.njk' import image %}

{% for img in gallery.images %}
  {% set left = img.left | lang | itemContent(gallery.imageBase) | trim %}
  {% set right = img.right | lang | itemContent(gallery.imageBase) | trim %}
  <li class="
    h-screen flex scroll-snap-align-start pt-12 pb-16 md:pt-32 md:pb-40
  ">
    <div class="flex-1">{{ left | safe }}</div>

    <div class="flex-1">
      {{ image(
              img,
              gallery.imageBase | ensureTrailingSlash,
              class='object-scale-down h-full'
        ) }}
    </div>

    <div class="flex-1">{{ right | safe }}</div>
  </li>
{% endfor %}