<ol class="mt-4">
  {% for gig in gigs %}
  <li class="sidebar-section">
    <div class="in-sidebar vr-base">{{ gig.city | lang }}</div>
    <div class="in-main font-body vr-base">{{ gig.year }} - {{ gig.venue | lang }}</div>
  </li>
  {% endfor %}
</ol>