{% set headerPadding = 'pt-8 pb-6' %}
{% if bodyTitleInNav %}
{%   set headerPadding = 'py-4' %}
{% endif %}
<header
  class="flex flex-wrap justify-between {{ headerPadding }} md:pt-16"
  {% if enchantBreadcrumb %}
  data-controller="breadcrumb"
  data-action="vek:in-page-navigation@window->breadcrumb#navigated"
  {% endif %}
  >
  <div class="{{ 'mb-4 sm:mb-2' if not bodyTitleInNav }}">
    <nav class="vr-normal-sm">
      <ol class="inline">
        {% for item in page | vekNav %}
        <li class="inline rsaquo-separator" data-target="breadcrumb.crumb">
          <a href="{{ item.url }}">{{ item.label }}</a>
        </li>
        {% endfor %}
        {% if bodyTitleInNav %}
        <li class="inline rsaquo-separator">
          <h2 class="inline" data-target="breadcrumb.bodyTitle">
            {{ bodyTitle | default(title) }}
          </h2>
        </li>
        {% endif %}
      </ol>
    </nav>
    {% if not bodyTitleInNav %}
    <h2 class="vr-normal-3xl xl:font-light" data-target="breadcrumb.bodyTitle">
      {{ bodyTitle | default(title) }}
    </h2>
    {% endif %}
  </div>
  <nav class="vr-normal-sm mb-2 sm:text-right">
    {% include 'lang-switcher.njk' %}
  </nav>
</header>
