<header class="flex flex-wrap pb-6 justify-between">
  <div class="mb-4 sm:mb-2">
    <nav class="vr-tight-sm">
      {% include 'nav.njk' %}
    </nav>
    {% if not bodyTitleInNav %}
    <h1 class="vr-tight-3xl">{{ bodyTitle | default(title) }}</h1>
    {% endif %}
  </div>
  <nav class="vr-tight-sm mb-2 sm:text-right">
    {% include 'lang-switcher.njk' %}
  </nav>
</header>
