---
layout: default
---
{% from 'macros.njk' import image %}
<h1 class="sr-only">{{ title }}</h1>
<div class="sm:min-h-screen mx-auto max-w-xs sm:max-w-none flex flex-col sm:flex-row-reverse flex-wrap sm:items-center px-2">
  <div class="flex-shrink-0 sm:w-1/2 xl:pl-3">
    {% include 'nav.njk' %}
    <div class="vr-normal-base max-w-xs">
      {{ image(img, '', 'w-full') }}
    </div>
  </div>
  <div class="sm:w-1/2 xl:pr-3">
    {{ content | safe }}
  </div>
</div>