---
layout: layouts/html
hasSidebar: true
---
{% extends 'sidebar.njk' %}

{% block before %}
<h1 class="sr-only">{{ site.name }}</h1>

<div class="scroll-snap-align-start">
  {% from 'macros.njk' import image %}
  <div
    data-controller="scroll-snap-mandatory"
    class="min-h-screen flex items-center sm:items-stretch justify-end sm:justify-center"
    >
    <div class="flex flex-col sm:flex-row-reverse sm:items-center">
      <div class="vr-base xl:pl-3 sm:flex-basis-1/2 sm:flex-shrink-0">
        <div class="w-64 text-right">
          {% include 'lang-switcher.njk' %}
          {{ image(img, class = 'w-64') }}
        </div>
      </div>
      <nav
        class="vr-snug-3xl text-right tracking-tighter whitespace-no-wrap
          sm:flex-basis-1/2 sm:pr-4 sm:vr-normal-4xl sm:flex-shrink-0
        ">
        {{ content | safe }}
      </nav>
    </div>
  </div>

  {% include 'scroll-enticer.njk' %}
</div>
<div class="scroll-snap-align-start min-h-screen" data-controller="adjust-vr">
{% endblock %}

{% block content %}
  {% for post in posts | reverse %}
  <article class="scroll-snap-align-start sidebar-section md:mb-4">
    <h2 class="in-sidebar vr-base">{{ post.title | lang }}</h2>
    <p class="vr-base para">{{ post | lang | safe }}</p>
  </article>
  {% endfor %}
{% endblock %}

{% block after %}
</div>
{% endblock %}