---
layout: default
---
{% from 'macros.njk' import image %}
<h1 class="sr-only">{{ title }}</h1>
<div class="
  mx-auto max-w-xs flex flex-col flex-wrap px-2
  sm:min-h-screen sm:max-w-none sm:flex-row-reverse sm:items-center"
  >
  <div class="vr-normal-base max-w-xs flex-shrink-0 xl:pl-3 sm:max-w-none sm:flex-basis-1/2">
    <div class="max-w-xs text-right">
      {% include 'lang-switcher.njk' %}
      {{ image(img) }}
    </div>
  </div>
  <nav class="
    vr-tight-4xl text-right tracking-tight
    sm:flex-basis-1/2 sm:pr-2 xl:pr-4 sm:vr-normal-4xl
    bignav
    ">
    {{ content | safe }}
  </nav>
</div>