{% macro image(img, base = '', class = '') %}
{% if img %}
{% set src = base | lang + img.src | lang %}
  <img
    class="{{ class }}"
    alt="{{ img.alt | lang }}"
    src="{{ src | url }}"
    width="{{ img.width }}"
    height="{{ img.heigth }}"
  >
{% endif %}
{% endmacro %}
