<ol class="inline">
  {% for item in page | vekNav %}
    <li class="inline">
      <a class="text-gray-600 active:text-gray-900" href="{{ item.url }}">{{ item.label }}</a>
      <span aria-hidden="true">&rsaquo;</span>
    </li>
  {% endfor %}
  {% if bodyTitleInNav %}
  <li class="inline">
    <h2 class="inline font-medium">{{ bodyTitle | default(title) }}</h2>
  </li>
  {% endif %}
</ol>