---
layout: body
---
{% for section in photography | dictsort %}
<h2
  id="{{ section[1].slug | lang }}"
  class="col-main {{ 'mt-4' if not loop.first }}">
  {{ section[1] | lang | nl2br | safe }}
</h2>

<ul class="contents">
  {% for row in section[1].rows %}
  <li class="contents">
    <div class="md:text-right col-left vr-relaxed-base font-semibold">
      {% if row.href %}<a href="{{ row.href | lang }}">{% endif %}
      {{ row | lang | nl2br | safe }}
      {% if row.href %}</a>{% endif %}
      </div>
      <div class="vr-relaxed-base col-main">
      {% for inst in row.instances %}
        {% if loop.first %}<ul>{% endif %}
        {% if loop.length > 1 %}<li>{% endif %}
        {{ inst.year }}
        {{ inst | lang | nl2br | safe }}
        {% if loop.length > 1 %}</li>{% endif %}
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}

    </div>
  </li>
  {% endfor %}

</ul>
{% endfor %}