{% block before %}{% endblock %}
<div class="max-w-5xl mx-auto">
  <div class="has-sidebar py-8 md:pt-16">
    {% include 'header.njk' %}
    <main class="main">
    {% block content %}
      {{ content | safe }}
    {% endblock %}
    </main>
  </div>
</div>
{% block after %}{% endblock %}
