{% block before %}{% endblock %}
<div class="sidebar-container">
  <div class="sidebar">
    {% include 'header.njk' %}
    {% block content %}
    <main class="main" id="{{ mainId }}">
      {{ content | safe }}
    </main>
    {% endblock %}
  </div>
</div>
{% block after %}{% endblock %}
