.scroll-enticer {
  display: none;
}

.scroll-snap-y-mandatory .scroll-enticer {
  display: initial;
}

.scroll-enticer {
  animation: bounce 2s cubic-bezier(0.280, 0.840, 0.420, 1) 13s infinite;
  transition: opacity 2s ease-in;
}

.user-has-scrolled .scroll-enticer {
  opacity: 0;
  transition: opacity .5s ease-out;
}

@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-2rem); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-0.7rem); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

@media (prefers-reduced-motion: reduce) {
  .scroll-enticer {
    animation: none;
  }
}
