
.sidebar-container {
  @apply mx-auto;
  max-width: 40rem;
}

.in-sidebar {
  @apply font-medium;
}

@screen lg {
  .sidebar-container {
    max-width: 52rem;
  }

  .sidebar {
    width: 40rem;
    margin-left: 12rem;
    /* margin-right: 2rem; */
  }

  .sidebar-section {
    @apply flex;
    margin-left: -12rem;
  }

  .in-sidebar {
    @apply text-right;
    @apply flex-none;
    @apply pr-3;
    width: 12rem;
  }
}