---
layout: layouts/html
headerSmall: true
---
<div class="flex flex-col ">
  <div class="fixed bg-white opacity-75 left-0 right-0 z-10">
    <div class="mx-2 xl:mx-auto max-w-2xl my-8 md:mt-16">
    {% include 'header.njk' %}
    </div>
  </div>

  <main class="flex-auto flex flex-col">
    {{ content | safe }}
  </main>

</div>