---
layout: layouts/html
bodyController: navigation snap-type
bodyTitleInNav: true
enchantBreadcrumb: true
---
{% extends 'sidebar.njk' %}
{% block before %}
<div class="fixed bg-white-3/4 bg-blur left-0 right-0 z-10 px-2">
{% endblock %}

{% block content %}
{% endblock %}

{% block after %}
</div>

<main>
  {{ content | safe }}
</main>

{% include 'scroll-enticer.njk' %}
{% endblock %}