---
layout: layouts/html
bodyController: navigate-on-scroll
---
{% extends 'sidebar.njk' %}

{% block before %}
<h1 class="sr-only">{{ site.name }}</h1>

<div class="snap-start">
  {% from 'macros.njk' import image %}
  <div
    data-controller="snap-y-mandatory"
    class="min-h-screen flex items-center sm:items-stretch justify-center py-16"
    >
    <div class="flex flex-col sm:flex-row-reverse sm:items-center">
      <div class="vr-base self-end sm:self-auto sm:flex-basis-1/2 sm:flex-shrink-0">
        <div class="w-64">
          {% include 'lang-switcher.njk' %}
          {{ image(img, class = 'w-64') }}
        </div>
      </div>
      <nav
        class="vr-snug-3xl text-right tracking-tight whitespace-no-wrap
          flex-none sm:flex-basis-1/2 sm:pr-5 xl:pr-6 sm:vr-normal-4xl
          sm:-mt-10 font-condensed
        ">
        {{ content | safe }}
      </nav>
    </div>
  </div>

  {% include 'scroll-enticer.njk' %}
</div>
<div class="snap-start min-h-screen" data-controller="adjust-vr">
{% endblock %}

{% block content %}
<main id="{{ mainId }}">
  {% for post in posts | reverse %}
  <article class="snap-start sidebar-section md:mb-4">
    <h3 class="in-sidebar vr-base">{{ post.title | lang }}</h3>
    <p class="para">{{ post | lang | safe }}</p>
  </article>
  {% endfor %}
</main>
{% endblock %}

{% block after %}
</div>
{% endblock %}