<!doctype html>
<html lang="{{ lang }}" class="{{ htmlClass }} xl:text-xl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titlePrefix }}{{ " - " if titlePrefix }}{{ title | lang }}</title>
    <link rel="stylesheet" href="{{ '/main.css' | url }}">
  </head>
  <body class="{{ bodyClass }} px-2">
    {{ content | safe }}
    <script src="{{ '/main.js' | url }}" async></script>
  </body>
</html>