---
layout: layouts/sidebar
---
<div data-controller="vr">
  <audio src="{{ audio }}" controls>
    <a href="{{ audio }}">{{ audioSample }}</a>
  </audio>
</div>

<div class="applied mt-2">
  {{ content | safe }}
</div>

{% set gigs = shows[show] %}
{% include 'gigs.njk' %}