---
layout: layouts/sidebar
---
<div data-controller="vr mt-4">
  <audio src="{{ audio | url }}" controls class="max-w-full">
    <a href="{{ audio | url }}">{{ audioSample }}</a>
  </audio>
</div>

<div class="applied mt-2">
  {{ content | safe }}
</div>

{% set gigs = shows[show] %}
{% include 'gigs.njk' %}